@import 'vars/colors';

$fonts-base: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-bold: 700;

$borderradius: calcRem(16px);
$borderradiusmobile: calcRem(32px);

body {
  font-family: $fonts-base;
  font-weight: $font-weight-light;
  font-size: 16px;
}
